/* Reset básico de estilos */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', 'Inter', 'Quicksand', Arial, sans-serif;
    background-color: #f6fcfe;
}

.container {
    min-height: 100vh;
    width: 100vw;
    background-image: url(./img/1.png); /* Imagem de fundo */
    background-size: auto 100%;      /* Altura máxima da div, largura automática */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Otimização para celulares */
@media (max-width: 600px) {
    .container {
        background-size: 100% 100%;  /* Preenche largura e altura em telas pequenas */
    }
}

