/* Reset básico de estilos */

@font-face {
    font-family: 'VeryBerry';
    src: url('../fonts/VeryBerry.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

*,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   --container-width: 100%;
    --container-height: 100%;
    --container-padding-mobile: 5% 5% 35% 5%;
    --container-padding-tablet: 2rem;
    --container-padding-desktop: 3rem;
    --font-family: 'VeryBerry', 'Poppins', 'Inter', 'Quicksand', Arial, sans-serif;
    --font-size-mobile: 0.9rem;
    --font-size-tablet: 1rem;
    --font-size-desktop: 1.1rem;
    --h1-size-mobile: 1.5rem;
    --h1-size-tablet: 2rem;
    --h1-size-desktop: 2.5rem;
    --background-color: #18171700;
    --background-image: url('/convite-aniversario/backgroud_img.png');
    --veryberry-color: #ec6583;
}

html, body {
    width: 100vw;
    height: 100dvh;
    min-width: 100vw;
    min-height: 100dvh;
    font-family: var(--font-family);
    background: var(--background-color);
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100dvh;
    margin: auto;
    box-sizing: border-box;
    background-image: var(--background-image);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto {
    position: relative;
    width: 80%;
    height: 50%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.texto img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    justify-content: center;
}

.texto img.active {
    opacity: 1;
}

/* slide das borboletas */
.slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
    max-width: var(--container-width);
    max-height: var(--container-height);
}
.slide-overlay img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide-overlay img.active {
    opacity: 1;
}


/* estilos para a pagina de confirmação */

.informacoes-evento {
    width: 90vw;
    max-width: 500px;
    height: 90vw;
    max-height: 500px;
    background: transparent;
    border-radius: 32px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.18);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacoes-evento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem; /* Espaço vertical igual entre todos os itens */
    padding: 2rem;
}

.container .informacoes-evento h2{
    font-family: 'veryberry', cursive;
    font-size: var(--font-size-mobile);
    color: var(--veryberry-color);
    text-align: center;
    margin-bottom: 1rem;
}

.data-evento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* espaço entre os itens */
}

.texto-mes {
    border-top: 2px solid var(--veryberry-color);
    border-bottom: 2px solid var(--veryberry-color);
    padding: 0.2rem 0;
}


.texto-hora {
    border-top: 2px solid var(--veryberry-color);
    border-bottom: 2px solid var(--veryberry-color);
    padding: 0.2rem 0;
}

.texto-data{
    padding: 0;
    color: #fff !important;
    background-color: var(--veryberry-color);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;

}

.texto-endereco {
    padding: 0,5rem 1rem;
}

.atalhos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0; /* espaço entre os atalhos */
    margin: 1rem;
}

.atalhos > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atalhos img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.atalhos h3 {
    font-size: 0.8rem;
    text-align: center;
    color: var(--veryberry-color);
}


/* Otimização para celulares */

/* Breakpoint: celulares maiores */
@media (max-width: 481px) {
    .container {
        padding: var(--container-padding-tablet);
        width: 100%;
        height: 100%;
        font-size: var(--font-size-tablet);
    }

     .informacoes-evento {
        width: 100%;
        height: 100%;
        /* max-width: 500px; */
        /* max-height: 500px; */
    }

    h1 {
        font-size: var(--h1-size-tablet);
    }
}

/* Breakpoint: celulares maiores */
@media (min-width: 481px) {
    .container {
        padding: var(--container-padding-tablet);
        width: 100%;
        height: 100%;
        font-size: var(--font-size-tablet);
    }

     .informacoes-evento {
        width: 300px;
        height: 400px;
        max-width: 500px;
        max-height: 500px;
    }

    h1 {
        font-size: var(--h1-size-tablet);
    }
}

/* Breakpoint: computador */
@media (min-width: 901px) {

        .slide-overlay {
        max-width: var(--container-width);
        max-height: var(--container-height);
        width: var(--container-width);
        height: var(--container-height);
        left: 0;
        top: 0;
    }
    .slide-overlay img {
        max-width: var(--container-width);
        max-height: var(--container-height);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

     .informacoes-evento {
        width: 500px;
        height: 500px;
        max-width: 500px;
        max-height: 500px;
    }

    /* body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .container {
        padding: var(--container-padding-desktop);
        font-size: var(--font-size-desktop);
        width: var(--container-width);
        height: var(--container-height);
        max-width: var(--container-width);
        max-height: var(--container-height);
        height: 100%;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
       .slide-overlay {
        max-width: var(--container-width);
        max-height: var(--container-height);
        width: var(--container-width);
        height: var(--container-height);
        left: 0;
        top: 0;
    }
    .slide-overlay img {
        max-width: var(--container-width);
        max-height: var(--container-height);
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */

    h1 {
        font-size: var(--h1-size-desktop);
    }
}

