/* Reset básico de estilos */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', 'Inter', 'Quicksand', Arial, sans-serif;
    background-color: #f6fcfe;
    background-image: url(../assets/img/1.png);
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

